<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css" />
    <title>Free Random Chat Rooms With Strangers | Free Online Chat - No Registration | Talk to Strangers</title>

    <!--  SEO tags  -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="OpenChat | Random Chat Application" />
    <meta name="twitter:site" content="@openchat" />
    <meta name="twitter:description" content="Online Random Chat With Strangers for FREE! Anonymous, Safe and Without Registration. Chat with cool people all over the world. Talk with strangers around the world." />
    <meta name="twitter:domain" content="Talk with Stranger" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="Talk to strangers!">
    <meta property="og:description" content="Your friends are boring. Strangers are better.">
    <meta property="og:url" content="http://openchat.ml/">
    <meta property="og:image" content="http://openchat.ml/static/icon.png">
    <meta property="og:site_name" content="OpenChat">
    <meta itemprop="name" content="Talk and Chat With Random Strangers for FREE!">
    <meta itemprop="description" content="Connect with a random stranger around the world and start chatting randomly and anonymously. It is a great way to meet new people and make amazing friends. It's free and requires no registration.">
    <meta itemprop="image" content="http://openchat.ml/static/logo.png">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <link rel="canonical" href="http://openchat.ml/">
    <meta name="description" content="Talk To Strangers in Free Random Chat Rooms With Strangers. Anonymous, Safe & without Registration. Chat with random people in private free chat rooms | Mobile Chat Rooms - Teen Chat -Stranger Chat - Omegle Chat, Free Chat - Chatrooms, Online Chat Rooms, random chat app & chat site.">
    <meta name="keywords" content="stranger chat, chat rooms, chat with strangers, talk to strangers, random chat, free online chat, chat no registration, chat online, random chat stranger, online chat rooms, online chat, free chat rooms">
</head>
<body>
<section class="msger">
    <header class="msger-header">
        <div class="msger-header-title">
            <i class="fas fa-comment-alt"></i> Open Chat
        </div>
        <div class="" style="margin-right: -50%">
            <p>online : <%= online %> </p>
        </div>
        <div class="msger-header-options">
            <span><i class="fas fa-cog"></i></span>
        </div>
    </header>

    <main class="msger-chat" style="overflow-y: scroll; height:400px;" id="message-section">
    <!--    message content goes here    -->
    </main>

    <form class="msger-inputarea" onsubmit="event.preventDefault();">
        <input type="text" class="msger-input" placeholder="Enter your message..." id="content" autocomplete="off">
        <button class="msger-send-btn" id="send" disabled>Send</button>
    </form>
</section>
</body>
</html>
